.sign-up-page
  %ul.nav.nav-tabs.visible-xs
    %li.active
      %a{:href => "#sign_up", :"data-toggle" => "tab"} Sign Up
    %li
      %a{:href => "#sign_in", :"data-toggle" => "tab"} Sign In
  .row.tab-content
    .col-sm-6.tab-pane#sign_in
      .panel.panel-default
        .panel-heading
          Sign In
        .panel-body
          = render "sign_in_form"
          %br
          = render "devise/shared/links"

    .col-sm-6.tab-pane.active#sign_up
      .panel.panel-default
        .panel-heading
          Sign Up
        .panel-body
          = render "registration_form"
      .visible-xs
        %br
        = render "devise/shared/links"

