%h1 Groups You're In
%ul.shared-groups.list-unstyled
  - @groups.each do |group|
    %li
    = render partial: "groups/group", object: group
  
= link_to "New Group", new_group_path, :class => "btn btn-success"