%h1 New Group

%p
  Make a group and get ranked against your friends!
%p
  Any games you play with other group members after the group is created will contribute to your ranking in this group.

= render 'form'
