%h1 #{@group.name}

.row
  .col-sm-6
    %h2 Players
    - @group.players.each do |player|
      .player= link_to(player.username, player)
  .col-sm-6
    %h2 Add Player
    = render 'add_player_form'