%h1 What we're all about

%p 
  The only way to ensure your pong legacy will forever live on!

%p
  This app was created as a final project for MIT's 6.170 class in the Fall of 2013.


%h2 Team
  %ul
    %li Sashko Stubailo
    %li Victor Pontis
    %li David Sessoms
    %li Santhosh Narayan

  %p
    You can contact us a admin@rerack.me.
