.col-md-6
  %h1 Help Has Arrived!

  %p 
    This app is based around groups and within each group there is a ranking. When you sign up for an account you are automatically added to the global group which has all users in the app. You can also create a group and add your friends to start playing with them. If you want to join an existing group you will need to contact the administrator of that group and they will add you by usrename.

  %p
    When a game is added it will need to be confirmed by the losing team unless they added the game. Once a game is confirmed it will be pushed to all groups that contain the winners and losers of the game. All members are members of the global group, so it will always be pushed there. You can see your past games on your profile page. 