.game
  .winners
    - game.winners.each do |player|
      .player
        = render :partial => "players/player", :object => player
  .separator
    won against
  .losers
    - game.losers.each do |player|
      .player
        = render :partial => "players/player", :object => player
  .footer
    %span.time
      = time_ago_in_words game.created_at
      ago
    = link_to "details", "#"

