.game
  .panel.panel-default
    .panel-heading
      = time_ago_in_words game.created_at
      ago
    .panel-body
      .row
        .col-sm-5
          .well
            - game.winners.each do |player|
              = link_to player.username, player
        .col-sm-2.text-center
          Beat
        .col-sm-5
          .well
            - game.losers.each do |player|
              = link_to player.username, player

