.game
  .winners
    - game.winners.each do |player|
      .player
        = render :partial => "players/player", :object => player
  .separator
    won against
  .losers
    - game.losers.each do |player|
      .player
        = render :partial => "players/player", :object => player
  .footer
    %span.time
      %span.local-time
        -# this time is parsed with javascript, look at localizeTime.js.coffee 
        = game.created_at.to_i
    = link_to "details", game

