%h1 Game Feed

.games
  %h3 24 hours ago
  - @games_24_old.each do |game|
    = render partial: "game", object: game
  %h3 1 week ago
  - @games_week_old.each do |game|
    = render partial: "game", object: game
  %h3 Older
  - @games_oldest.each do |game|
    = render partial: "game", object: game
