%h1 Rankings
%p Only players that have played 2 or more games are ranked.

- if current_player.games_count < 2
  .alert.alert-info
    %span.glyphicon.glyphicon-info-sign
    You haven't played enough games to be ranked yet. Play some games and record them to get started!
- else
  = link_to "Go to your rank", "#" + current_player.username, :class => "btn btn-primary rankings-link"
  %br
  %br

= render partial: 'ranking', locals: { players: @players }
= will_paginate @players, renderer: BootstrapPagination::Rails