.sign-up-page-mobile {
  margin: 0 -15px;

  ul {
    li:first-child {
      margin-left: 15px;
    }
  }

  .tab-content {
    padding: 0 15px;
    background: white;
    padding-bottom: 20px;
    border-bottom: #ccc 1px solid;
  }
}