@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "mixins";

.game-confirmation-status {
  padding: 20px 0 10px 0;
  text-align: right;

  span {
    padding: $padding-base-vertical 0;
    display: inline-block;
    position: relative;
    top: 2px;
  }
}

@media (max-width: $screen-sm-max) {
  .game-confirmation-status {
    text-align: left;
    padding: 0;
  }
}

.game-page-table > tbody > tr > th {
  border: none;
}

.game-page-table > tbody > tr {
  th, td {
    border-color: rgba(0, 0, 0, 0.1);
  }

  th:last-child, td:last-child {
    text-align: right;
  }
}

.game-form {
  padding: 20px;
  @include postit();
}

.show-game-page {
  margin-top: 20px;

  padding: 5px 20px;
  @include postit();
}

// alignment
.game {
  .player {
    font-weight: bold;
  }

  .player.highlight {
    font-weight: bold;
  }

  padding: 10px 10px 4px 10px;
  .footer {
    font-style: italic;
    margin-top: 14px;
    font-size: 0.9em;
    opacity: 0.7;
  }
  .winners {
    text-align: center;

    .player.highlight {
      background: $state-success-bg;
      a {
        color: $state-success-text;
      }
    }
  }
  .separator {
    text-align: center;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.6);
    margin: 4px 0;
    font-style: italic;
  }
  .losers {
    text-align: center;
    
    .player.highlight {
      background: $state-danger-bg;
      a {
        color: $state-danger-text;
      }
    }
  }

  @include postit();
}

// size and padding properties

// xs (mobile)
.game {
  margin-bottom: 20px;
}

@media (min-width: $container-sm) and (max-width: $container-md) {
  .game {
    width: ((720px - 20px*2)/3);
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .game:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: $container-md) and (max-width: $container-lg) {
  .game {
    width: ((940px - 20px*3)/4);
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .game:nth-child(4n) {
    margin-right: 0;
  }
}

@media (min-width: $container-lg) {
  .game {
    width: ((1140px - 20px*4)/5);
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .game:nth-child(5n) {
    margin-right: 0;
  }
}


