@import "bootstrap/variables";

.separator {
  margin: 0.5em 0;
}

@media (max-width: $screen-xs-max) {
  .game {
    .separator {
      margin: 10px 0;
    }

    .text-center, .text-right {
      text-align: left;
    }
  }
}
