@import "includes";

.player-link {
  font-weight: bold;
}

.table-rankings {
  background: white;

  tr.highlighted td {
    background: #ff9 !important;
  }
}

.player-summary {
  .glyphicon {
    position: relative;
    top: 2px;
    margin-right: 5px;
  }

  ul {
    list-style: none;
    text-indent: 0;
    padding-left: 0;
  }
}

@media (min-width: $screen-sm-min) {
  .player-summary ul {
    @include clearfix();

    li {
      float: left;
      padding-right: 15px;
    }
  }
}
